{% extends "base.html" %}
{% load crispy_forms_tags  %}

 {% block content %}
 <div class="container col-md-5">
 <h2> Richiesta Registrazione al sito </h2>
 <h3 style= 'color:darkred'>Riservata agli Agenti Iata</h3>
 <form method="POST" >
     
 {% csrf_token %}
     {{ form|crispy }}
  <button type="submit" class="btn btn-primary" >Invia </button>


</form> 
 </div>
{% endblock %}