{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<hr>
<div class="container col-md-4">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
        <h1>Login</h1>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
 </div>
</div>

{% endblock %}
 
