{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ object.title }} {% endblock title  %}

{% block content %}
<div class="container">
        <div class="col-md-9">
    <h1>New Quotation Request</h1>
   <h4 style = 'color: red'> Author: {{request.user.email}} </h4>
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
    
    <button class ="btn btn-success ml-2" type ="submit">Save</button>   
    </form>
</div>
</div>
{%  endblock content  %}