{% extends "base.html" %}


{% block content %}


<div>
    <h1>AGENT PERSONAL DASHBOARD</h1>
   

    <div class="table-responsive col-md-12">
        <table id="table1" class = 'table1'>
                <thead>
                <tr>
                    <th>
                    <td class ='col-md-5 ' style ='color: rgb(78, 121, 186);'><b>TITLE</b></th>
                    <td class ='col-md-1 ' style ='color: rgb(78, 121, 186);'><b>DATE</b></th>
                    <td class ='col-md-1 ' style ='color: rgb(78, 121, 186);'><b>DEST</b></th>
                    <td class ='col-md-1 ' style ='color: rgb(78, 121, 186);'><b>ORIGIN<b></th>
                    <td class ='col-md-1 ' style ='color: rgb(78, 121, 186);'><b>PCS</b></th>
                    <td class ='col-md-1 ' style ='color: rgb(78, 121, 186);'><b>WEIGHT</b></th>
                    <td class ='col-md-1 ' style ='color: rgb(78, 121, 186);'><b>VOL</b></th>
                    <td class ='col-md-1 ' style ='color: rgb(78, 121, 186);'><b>Ready on</b>
                    </th>
                </tr>
            </thead>
                         
                 
            {% for quote in my_open_quotes  %}
             <tbody>
                 <td></td>
                <td class ='col-md-5 ' style ='color: rgb(78, 121, 186);'><h6><a href="{{ quote.get_absolute_url }}">{{  quote.title|upper }}</a> </h6>
                <td class ='col-md-1 '><h6> {{ quote.publish|date:"d/m/y" }}</h6> </td>
                <td class ='col-md-1 '><h6>  {{ quote.destination|upper  }}</h6></td>
                <td class ='col-md-1 '><h6> {{ quote.origin|upper }}</h6></td>
                <td class ='col-md-1 '><h6>  {{ quote.pieces }}</h6></td>
                <td class ='col-md-1 '><h6>  {{ quote.kilos }}</h6></td>
                <td class ='col-md-1 '><h6>  {{ quote.volume }}</h6></td>
                <td class ='col-md-1 '><h6>  {{ quote.rfc|date:"d/m/y"}}</h6></td>
            
             {% endfor %}
    </tbody>
</table>
</div>
</div>  

  
   
{%  endblock content  %}