{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ object.title }} {% endblock title  %}

{% block content %}
<div class="container">
        <div class="col-md-9">
    <h1>Edit</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
    
    <button class ="btn btn-info ml-2" type ="submit">Update</button>   
    </form>
</div>
</div>
{%  endblock content  %}