{% extends "base.html" %}

{% block title %}{{ object.title }} {% endblock title  %}
{% block content %}
<div class="container">
        <div class="col-md-9">
            <div class='quote_detail'>
                <h2><a href="">{{ quote.title }}</a></h2>
                <p>Origin: {{ quote.origin }}</p>   
                <p>Destination: {{ quote.destination }}</p>   
                <p>Pieces: {{ quote.pieces }}</p>   
                <p>Weight: {{ quote.kilos }} Kgs</p>   
                <p>Volume: {{ quote.volume }} cbm</p>   
                <p>Ready on : {{ quote.rfc }}</p>   
                <p>Note: {{ quote.note }}</p>   
            </div>
             <div class ="card-footer text-center text-muted">
                <a href="{% url 'quote_update' quote.slug %}" >Edit</a>
                <a href="{% url 'quote_delete' quote.slug %}" >Delete</a>
                <div><h3>Bids for the current quote </h3>
              {% if bids %}
                    {% for bid in quote.bids.all %}
                    <li> {{ bid.author }} offers {{ bid.rate }} with airline : {{ bid.airline }}</li>
                    {% endfor %}
             {% else %}
          <h2>No bid yet!</h2>
          {% endif %}
            </div>
        </div>
    </div>


{%  endblock content  %}