{% extends "base.html" %}

{% block title %}{{ object.title }} {% endblock title  %}

{% block content %}
<div class="container">
    <div class="col-md-9">
    <h1>Delete</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete quotation request for "{{ quote.title }}"?</p>
        <button class ='btn btn-danger ml-2' type= 'submit'>Confirm</button>  
    
    </form>
    </div>
</div>

{%  endblock content  %}