{% extends 'plans/base.html' %}
{% block content %}
<div class="container">
    {% if cancel_at_period_end %}
    Your Membershipwill run to the end of yourt billing cycle

    {% elif membership %}
    <form action="{% url settings %} method ="POST">
        {% csrf_token %}
        <input type="Submit" value ="Cancel Membership">
    </form>
    {% else %}
    <a href="{% url 'join' %}" class="href">Get a Membership!</a>
     {% endif %}
</div>
{% endblock %}
