{% extends 'base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">CargoBids</h1>
  <p class="lead">The ultimate marketplace for your cargo bids!</p>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-bold">RISERVATO AD AGENTI IATA/VETTORI E GSA</h4>
        </div>
        <div class="card-body">
          <h1 style= 'color:rgb(253, 74, 4)' class="card-title pricing-card-title">Richiesta iscrizione al sito</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Compila Form di richiesta registrazione</li>
             <li>Ricevi email con link di verifica</li>
              <li>Conferma il tuo indirizzo email</li>
              <li>Riceverai un form da inviare compilato con la richiesta di attivazione per l'accesso</li>
             <li>Attendi che la tua richiesta venga approvata</li>
            <li>Entra nel sito</li>
          </ul>
          <a href="{% url 'account_signup' %}"><button type="button" class="btn btn-lg btn-block btn-primary">Invia Richiesta</button></a>
        </div>
      </div>
     
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
