
  
    <nav class="my-2 my-md-0 mr-md-3">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'home' %}" class="text-dark">CargoBids</a></h5>
    
          <a class="p-2 text-dark" href="{% url 'join' %}">Premium</a>
          {% if user.is_authenticated %}
                   {% if user.is_agent  %}
                     <a class="p-2 text-dark" href="{% url 'quote_new' %}">New</a>
                   {% endif %}
          <a class="p-2 text-dark" href="{% url 'settings' %}">Settings</a>
          <a class="p-2 text-dark" href="{% url 'account_logout' %}">Log Out</a>
          {% else %}
          <a class="p-2 text-dark" href="{% url 'account_login' %}">Log In</a>
          {% endif %}
     
        {% if user.is_authenticated == False %}
        <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign up</a>
        {% endif %}
      </nav>
    