{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">1</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">CargoBids Premium</h6>
              <small class="text-muted">{{ plan|title }}</small>
            </div>
            <span class="text-muted">€{{ og_dollar }}</span>
          </li>
          {% if coupon != 'none' %}
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>{{ coupon|upper }}</small>
            </div>
            <span class="text-success">-€{{ coupon_dollar }}</span>
          </li>
          {% endif %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>€{{ final_dollar }}</strong>
          </li>
        </ul>

        <form class="card p-2" action="{% url 'checkout' %}" method="GET">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" name="coupon">
            <input type="hidden" value="{{ plan }}" name="plan" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div>
        </form>

        <div class="text-center pt-3">
        <form action="{% url 'checkout' %}" method="POST">
          {% csrf_token %}
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_xTadTvfT6qDTRZnGwgnmUu7I00BoF1Y7dK"
            data-amount="{{ price }}"
            data-name="CargoBids"
            data-description="Premium Membership"
            data-email="{{ user.email }}"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
          <input type="hidden" value="{{ plan }}" name="plan" />
          <input type="hidden" value="{{ coupon }}" name="coupon" />
        </form>
        </div>
        </div>
      </div>
      </div>



{% endblock %}
