{% extends 'base.html' %}
{% block content %}
<div class="container">
  {% if cancel_at_period_end %}
  Your membership will run to the end of your billing cycle.
  {% elif membership %}
  <form action="{% url 'settings' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Cancel Membership?">
  </form>
  {% else %}
  <a href="{% url 'join' %}">Get a membership</a>
  {% endif %}
</div>
{% endblock %}